:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(225, 23%, 55%);
  --dark-blue: hsl(225, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  width: 450px;
  background-color: white;
  color: var(--desaturated-blue);
}

.title {
  color: var(--dark-blue);
  font-weight: 900;
  font-size: 32px;
}

.fisherman {
  width: 450px;
  height: auto;
  display: block;
  
}

.fisherman-container{
  height: 300px;
  overflow: hidden;
  object-position: bottom;
}

.container {
  height: 30px;
}
