@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
body{
  background-color: burlywood;
font-family: Verdana, Tahoma;}
h1,h2,p {
  display: wrap;
  justify-content: center;
text-align: center;
margin-left: auto;
margin-right: auto;
justify-content: center;
} 

 div > img {
  display: block;
  align-items: center;
  max-width: 80%;
  margin: auto;
 
}

.img-caption{
  display: block;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.image{
    align-items: center;
}

.list{
    background-color:bisque;
    border-radius: 10px;
    border: black 2px solid;
}